<a href="https://colab.research.google.com/github/bhagyapatel/Big-Data/blob/main/Date_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [ ]:
!pip install -q findspark
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]
df = spark.createDataFrame(data,["id","date1"])
df.show()
from pyspark.sql.functions import *
df.select(current_date()).show()

+---+----------+
| id|     date1|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
+---+----------+

+--------------+
|current_date()|
+--------------+
|    2022-10-29|
|    2022-10-29|
|    2022-10-29|
+--------------+

In [ ]:
df.select("date1",date_format("date1","dd-MM-yyyy").alias("new_date")).show()

+----------+----------+
|     date1|  new_date|
+----------+----------+
|2020-02-01|01-02-2020|
|2019-03-01|01-03-2019|
|2021-03-01|01-03-2021|
+----------+----------+

In [ ]:
df.select("date1", to_date("date1","yyyy-MM-dd").alias("format_Date")).show()

+----------+-----------+
|     date1|format_Date|
+----------+-----------+
|2020-02-01| 2020-02-01|
|2019-03-01| 2019-03-01|
|2021-03-01| 2021-03-01|
+----------+-----------+

In [ ]:
df.select("date1", current_date().alias("current_date"), datediff(current_date(),"date1").alias("difference")).show()

+----------+------------+----------+
|     date1|current_date|difference|
+----------+------------+----------+
|2020-02-01|  2022-10-29|      1001|
|2019-03-01|  2022-10-29|      1338|
|2021-03-01|  2022-10-29|       607|
+----------+------------+----------+

In [ ]:
df.select("date1", year("date1"),month("date1"),date).show()

+----------+-----------+
|     date1|year(date1)|
+----------+-----------+
|2020-02-01|       2020|
|2019-03-01|       2019|
|2021-03-01|       2021|
+----------+-----------+

In [ ]:
df.select("date1", add_months("date1",3)).show()

+----------+--------------------+
|     date1|add_months(date1, 3)|
+----------+--------------------+
|2020-02-01|          2020-05-01|
|2019-03-01|          2019-06-01|
|2021-03-01|          2021-06-01|
+----------+--------------------+

In [ ]:
#df.withColumn("year",year("date1")).show()
#df.withColumn("month",month("date1")).show()
#df.withColumn("date_diff1",datediff(current_date(),"date1")).show()
#df1.withColumn("day",dayofmonth("date1")).show()
#df1.withColumn("hour1", hour("DateTime1")).show()
#df.withColumn("week_of_year", weekofyear("date1")).show() 
#df.withColumn("dayinwords", date_format("date1","EEE")).show()
#df.withColumn("monthinwords", date_format("date1","LLL")).show()
#df.withColumn("new_Date", add_months("date1",3)).show()
df.withColumn("new_Date", date_add("date1",3)).show()

In [ ]:
df.select("date1", add_months("date1",3), date_add("date1",3), date_add("date1",-3), date_sub("date1",3)).show()

+----------+--------------------+------------------+-------------------+------------------+
|     date1|add_months(date1, 3)|date_add(date1, 3)|date_add(date1, -3)|date_sub(date1, 3)|
+----------+--------------------+------------------+-------------------+------------------+
|2020-02-01|          2020-05-01|        2020-02-04|         2020-01-29|        2020-01-29|
|2019-03-01|          2019-06-01|        2019-03-04|         2019-02-26|        2019-02-26|
|2021-03-01|          2021-06-01|        2021-03-04|         2021-02-26|        2021-02-26|
+----------+--------------------+------------------+-------------------+------------------+

In [ ]:
df.select(col("date1"),  
     dayofweek(col("date1")).alias("dayofweek"), 
     dayofmonth(col("date1")).alias("dayofmonth"), 
     dayofyear(col("date1")).alias("dayofyear"), 
  ).show()

+----------+---------+----------+---------+
|     date1|dayofweek|dayofmonth|dayofyear|
+----------+---------+----------+---------+
|2020-02-01|        7|         1|       32|
|2019-03-01|        6|         1|       60|
|2021-03-01|        2|         1|       60|
+----------+---------+----------+---------+

In [ ]:
data=[["1","02-01-2020 11 01 19 06"],["2","03-01-2019 12 01 19 406"],["3","03-01-2021 12 01 19 406"]]
df2=spark.createDataFrame(data,["id","input"])
df2.show(truncate=False)

+---+-----------------------+
|id |input                  |
+---+-----------------------+
|1  |02-01-2020 11 01 19 06 |
|2  |03-01-2019 12 01 19 406|
|3  |03-01-2021 12 01 19 406|
+---+-----------------------+

In [ ]:

df2.select(current_timestamp().alias("current_timestamp")
  ).show(1,truncate=False)

+-----------------------+
|current_timestamp      |
+-----------------------+
|2022-10-29 12:21:19.524|
+-----------------------+
only showing top 1 row

In [ ]:
#hour, minute,second
data=[["1","2020-02-01 11:01:19.06"],["2","2019-03-01 12:01:19.406"],["3","2021-03-01 12:01:19.406"]]
df3=spark.createDataFrame(data,["id","input"])
df3.select(col("input"), 
    hour(col("input")).alias("hour"), 
    minute(col("input")).alias("minute"),
    second(col("input")).alias("second") 
  ).show(truncate=False)

+-----------------------+----+------+------+
|input                  |hour|minute|second|
+-----------------------+----+------+------+
|2020-02-01 11:01:19.06 |11  |1     |19    |
|2019-03-01 12:01:19.406|12  |1     |19    |
|2021-03-01 12:01:19.406|12  |1     |19    |
+-----------------------+----+------+------+

In [ ]:
from pyspark.sql.functions import *
#Split one column into multiple columns
park=SparkSession.builder.appName("sparkbyexamples").getOrCreate()
data= [('James','','Smith','1991-04-01'),
  ('Michael','Rose','','2000-05-19'),
  ('Robert','','Williams','1978-09-05'),
  ('Maria','Anne','Jones','1967-12-01'),
  ('Jen','Mary','Brown','1980-02-17')
]

In [ ]:
Columns = ["name","middlename","lastname","dob"]
df = spark.createDataFrame(data,Columns)
df.show()

+-------+----------+--------+----------+
|   name|middlename|lastname|       dob|
+-------+----------+--------+----------+
|  James|          |   Smith|1991-04-01|
|Michael|      Rose|        |2000-05-19|
| Robert|          |Williams|1978-09-05|
|  Maria|      Anne|   Jones|1967-12-01|
|    Jen|      Mary|   Brown|1980-02-17|
+-------+----------+--------+----------+

In [ ]:
df.withColumn("year", split(df['dob'],"-").getItem(0)) \
.withColumn("month", split(df['dob'],'-').getItem(1)) \
.withColumn("day", split(df['dob'],'-').getItem(2)).show()

+-------+----------+--------+----------+----+-----+---+
|   name|middlename|lastname|       dob|year|month|day|
+-------+----------+--------+----------+----+-----+---+
|  James|          |   Smith|1991-04-01|1991|   04| 01|
|Michael|      Rose|        |2000-05-19|2000|   05| 19|
| Robert|          |Williams|1978-09-05|1978|   09| 05|
|  Maria|      Anne|   Jones|1967-12-01|1967|   12| 01|
|    Jen|      Mary|   Brown|1980-02-17|1980|   02| 17|
+-------+----------+--------+----------+----+-----+---+

In [ ]:
list_data=[
           ["2022/03/31 01:55 AM"],
           ["2022/03/30 01:15 AM"],
           ["2022/03/29 02:15 PM"],
           ["2022/04/01 04:15 PM"],
          ]

list_schema=["inp_col"]

#Create DataFrame from the list 
df1=spark.createDataFrame(list_data,list_schema)

df1.printSchema()

df1.show()

In [ ]:
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

In [ ]:
from pyspark.sql.functions import to_date,date_format,to_timestamp

df2 = df1.withColumn("date",to_date("inp_col","yyyy/MM/dd")) \
         .withColumn("time",to_timestamp("inp_col","yyyy/MM/dd hh:mm a")) \
      


df2.printSchema()
df2.display()

# New Section